<!doctype html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title th:text="${title}">Titre du document</title>
  <div th:replace="fragments/header :: header-css"/>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0pK" crossorigin="anonymous">
</head>
<body>
<div th:replace="fragments/header :: header"/>

<div class="container">
  <h1>TESTS :</h1>
  <div class="card">
    <div class="card-body">
      <h2>Le pourcentage toléré par la méthode getAge sur <span th:text="${numberOfClients}"></span> clients testés :</h2>
      <h3><span th:text="${percentage}">0</span>%</h3>
    </div>
  </div>
</div>
</body>
</html>
