<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Inclure les fichiers CSS de Bootstrap -->
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"/>
</head>
<body>
<!-- Ajouter la classe 'd-flex flex-column' pour créer un layout en colonne -->
<div class="d-flex flex-column" style="min-height: 100vh;">
    <!-- Contenu principal de la page -->
    <main class="flex-shrink-0">
        <!-- Contenu de la page -->
    </main>

    <!-- Footer qui reste en bas -->
    <footer class="mt-auto py-3 fixed-bottom">
        <div class="container">
            &copy; 2022 projet Kot-line (by : Anthony, Théo, Vincent)
        </div>
    </footer>
</div>

<!-- Inclure les fichiers JavaScript de Bootstrap -->
<script type="text/javascript"
        src="/webjars/bootstrap/5.2.2/js/bootstrap.min.js"
        th:src="@{/webjars/bootstrap/js/bootstrap.min.js}">
</script>
</body>
</html>
