<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <th:block th:fragment="header-css">
        <link rel="stylesheet" type="text/css"
              href="/webjars/bootstrap/5.2.2/css/bootstrap.min.css"
        th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" />

        <link rel="stylesheet" th:href="@{/css/main.css}"
        href="../static/css/main.css" />

        <title th:text="${title ?: 'Default title'}"></title>

    </th:block>
</head>
<body>
<div th:fragment="header">

    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Kot-Line</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-md-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/client">Info Clients</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/uploadFile">Upload file</a>
                    </li>

                </ul>

                <ul class="navbar-nav ms-auto mb-2 mb-md-0">
                    <!-- Bouton de déconnexion affiché uniquement lorsque l'utilisateur est connecté -->
                    <li sec:authorize="isAuthenticated()" class="nav-link">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="white" class="bi bi-box-arrow-left"
                             viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                            <path fill-rule="evenodd"
                                  d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                        </svg>
                        <a style="color: rgba(255,255,255,.55);" th:href="@{/logout}">&nbsp;Logout </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</div>

</body>
</html>
